.home {

    background: black;
    background-size: cover;
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;

    .container {
      margin-left: 10%;
      margin-top: 10%;
      color: white;
    }
    
    title {
      margin-left: 10%;
      margin-top: 10%;
      color: white;
    }
  
    h1 {
      font-weight: 400;
    }
  
    h3 {
      margin-top: -20px;
      font-weight: 300;
    }
  
    h1 {
      margin-bottom: 35px;
    }
  
    @media (max-width: 768px) {
      .title {
        text-align: center;
        margin-left: 0;
        margin-top: 5%;
      }
    }
  
  @media (max-width: 768px) {
    .home {
      background: #060708;
      display: grid;
      grid-template-rows: 50px 40% 1fr;
    }
  
  }
}