@import "../node_modules/bootstrap/scss/bootstrap";
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

button {
  outline: none !important;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 250ms;

  &:hover {
    background: white !important;
    color: black !important;

  }

  &:disabled {
    background: none !important;
    color: white !important;
  }
}

.primary-button{
  background: none;
  color: white;
  border: 1px solid white;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
  margin: auto;
}

@media (max-width: 768px) { 
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

